@font-face{
    font-family:"Kvitka";
    src: url("./assets/fonts/KvitkaSPDemo.otf") format("opentype");}
    @font-face{
    font-family:"Arsenal";
    src: url("./assets/fonts/Arsenal-Regular.ttf") format("opentype");}
body{
    background-color: #C8D0C1;
    margin: 0;
    padding: 0;
}
.info{
    padding-left: 30px;
    padding-right: 30px;
}
.container{
    position: relative;
    min-height: 100vh;
}
.heading{
    width: 480px;
    height: 140px;
    background-color: rgba(217, 217, 217, 0.8);
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2;
    top: 36px;
}
#main-title{
    text-align: center;
    font-family: "Kvitka";
    margin: 0;
    padding-top: 10px;
    font-size: 128px;
}
.text{
    padding-top: 45px;
    
}
#chapter1{
    display: flex;
    gap:21px;
}
#block1{
    display: flex;
    gap:37px
    
}
#block2{
    display: flex;
    gap:37px
    
}

.y1953{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 420px;
}
.picture{
    margin-top: 20px;
    height: 288px;
}
#img1953_1{
    margin-top: 20px;
    height: 288px;
    width: 420px;
}
#img1953_2{
    margin-top: 20px;
    height: 288px;
    width: 450px;
}

#img1{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 1;
}
#img2{
    float:left;
    margin-top: 8px;
}
.container_1{
    display: inline-block;
}

p{
    max-width: 892%;
    text-indent: 15px;
    text-align: justify;
    font-family: "Arsenal";
    font-size: 20px;
}
.description{
    text-indent: 0px !important;
    text-align: center;
    font-family: "Arsenal";
    font-size: 15px;
}
.main-title-block{
    text-align: center;
    font-family: "Kvitka";
    font-size: 60px;
}
.container_2{
    display: flex;
    gap: 30px;    
}

#img8A{
 border-radius: 10px;
}

#img9{
    padding-top: 50px;
}

#img10{
    width: 100%;
}
.container_4{
    display: flex;
    gap: 30px;    
}
.container_5{
    display: flex;
    gap: 30px;    
}

#img11{
    margin-top: 30px;
}
#img12{
    margin-top: -60px;
}
.container_6{
    display: flex;
    gap: 30px;    
}
.container_3{
    margin-top: -80px;   
}
#img13{
    margin-top: -150px;
    position: absolute;
    z-index: -1;
}
.container_4{
    display: flex;
    justify-content: center;
    gap: 20px;    
}
.container_5{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;    
}
.container_6{
    display: flex;
}
.container_7{
    display: flex;
    gap:30px;
}
#img28{
    width: 100%;
}

h1{
    
    font-family: "Arsenal";
    font-size: 20px;
    text-align: center; 
    font-weight: 400; 
    margin-left: 100px;
    
}
#img29{
    float: left;
    margin-left: 45px;
    margin-right: 25px; 
}
.text6{    
    width: 95%;   
}
.gagarin{
    margin-top: 51px;  
}

#img30{
    width: 100%;
    position: relative;
    z-index: 10;
}
#img31{
    height: 1208px;
    
}
#img32{
    margin-left: auto;
}
.main-title-block_3{
    font-family: "Kvitka";
    font-size: 60px;
    margin-left: 300px;
}
.block1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px; 
}

.text17{
    width: 653px;
    margin-left: 50px;      
}
.newspaper {
    display: flex;
    margin-top: -620px;   
}
#img33{
    float: right;
    margin-top: -550px;
    position: relative;
    z-index: 10;
}
.main-title-block_4{
    font-family: "Kvitka";
    font-size: 60px;
    margin-left: 320px; 
}
.text18{
    width: 854px;
}
.block2{
    margin-top: -650px;
    margin-left: 174px;
}
.text19{
    width: 800px;
    margin-left: 156px;
}
#img35{
    margin-top: -900px ; 
    width: 100%;
}
.main-title-block_1{
    margin-left: 35px;
    font-family: "Kvitka";
    font-size: 60px;
}

#gonka{
    display: flex;
    gap: 100px;
}
#gonka1{
    display: flex;
    gap: 30px;
}
.specification{
    font-family: "Arsenal";
    font-size: 20px;
    text-align: center;
}

#img38,#img39{
    margin-left: 26px;
    display: block;   
    margin-top: -100px;
}
.moon-content {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}
#img40{
    margin-top: 20px;
}
.text9{
    width: 942px;
}
.text10{
    width: 281px;
}
.moon-section{
    float: right;
    margin-top: -480px;
    margin-right: 70px;
}
.moon {
    display: flex;
    gap: 40px;
    margin: 40px ;
    margin-left: 75px;
}
.text11{
    width: 762px;
}
.blue-ghost {
    margin-top: 30px;
}
.text12{
    width: 1277px;
    margin-left: 70px; 
    margin-top: -30px;
}
.spacex {
    display: flex;
    gap: 34px;
    margin-left: 75px; 
}
.text13 {
    width: 778px;
}
.starlink {
    margin-top: 35px;
 
}
.text14{
    margin-left: 96px;
    width: 575px;
}

.starlink-images {
    display: flex;
    margin-top: 61px;
}
.right-images {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-left: -95px ;
}
.starlink1{
    float: right;
    margin-top: -980px;
}
.text15{
    width: 410px; 
}
#img44{
    margin-left: 73px;
}

.starship-images{
   margin-top: -150px;
}
.end{
    background-image: 
        url('./assets/img/img49.png');   
         overflow: hidden;  
}
.main-title-block_2{
    font-family: "Kvitka";
    font-size: 60px;
    text-align: center;
    padding: 91px;
}
.text16{
    width: 1325px;
    margin-left: 60px;
    margin-top: -80px;
}
#img48{
    float: right;
    margin-right: 34px;
}

